.App {
  text-align: center;
}

.white-content {
  background: #dcd1d5;
  color: #696969;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.main{
  margin-top: 10vh;
}
