.App {
  /* text-align: center; */
}

.white-content {
  background: #dcd1d5;
  color: #2f2f2f;
}

.footer{
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
  text-align: center;
  margin: 10px 0;
}

.main{
  margin: 0 10vw;
  margin-top: 8%;
}
