body {
  margin: 0;
  font-family: 'Century Gothic',
    'CenturyGothic',
    'AppleGothic',
    sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dcd1d5;
  text-align: left;
  background-color: #2f2f2f;
}

